[submodule "qt5-base-595"]
	path = qt5-base-595
	url = https://aur.archlinux.org/qt5-base-595.git
[submodule "qt5-xmlpatterns-595"]
	path = qt5-xmlpatterns-595
	url = https://aur.archlinux.org/qt5-xmlpatterns-595.git
[submodule "qt5-declarative-595"]
	path = qt5-declarative-595
	url = https://aur.archlinux.org/qt5-declarative-595.git
[submodule "qt5-location-595"]
	path = qt5-location-595
	url = https://aur.archlinux.org/qt5-location-595.git
[submodule "qt5-quickcontrols-595"]
	path = qt5-quickcontrols-595
	url = https://aur.archlinux.org/qt5-quickcontrols-595.git
[submodule "qt5-tools-595"]
	path = qt5-tools-595
	url = https://aur.archlinux.org/qt5-tools-595.git
[submodule "qt5-x11extras-595"]
	path = qt5-x11extras-595
	url = https://aur.archlinux.org/qt5-x11extras-595.git
[submodule "qt5-webengine-595"]
	path = qt5-webengine-595
	url = https://aur.archlinux.org/qt5-webengine-595.git
[submodule "qt5-webchannel-595"]
	path = qt5-webchannel-595
	url = https://aur.archlinux.org/qt5-webchannel-595.git
